# Just for this submodule
go.mod
go.sum

.env
*.json
notes.txt
rebuild.sh
rebuild-prod.sh

# Binaries for programs and plugins
chronicle-go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Explicitly include json for the translation files
!translations/locales/**/messages.gotext.json

# Dependency directories (remove the comment below to include it)
# vendor/
